@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body{
  padding-top:400px;
}

.projects-background{
  z-index: -2;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/img/code.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}


// ****************** Scroll Header Stylings *****************


.sticky{
  top: 0;
  position: fixed;
}

.not-sticky-div{
  height: 15vh;
  width: 100vw;
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s all ease;
  div{
    font-size: 30px;
    font-family: 'PT Mono', monospace;
    color: white;
  }
}

.sticky-div{
  top: 0;
  position: fixed;
  height: 40vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  transition: 1s all ease;
}

.projects-quote-hidden{
  z-index: -3;
  top: 0;
  position: fixed;
  height:40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-title-hidden{
  font-size: 1px;
  font-family: 'PT Mono', monospace;
  opacity: .1;
  color: black;
}

.projects-quote{
  z-index: 2;
  top: 0;
  position: fixed;
  height:40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-title{
  font-size: 40px;
  font-family: 'PT Mono', monospace;
  color: white;
  transition: 5s all ease;
}

@media only screen and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body{
    padding-top:300px;
  }
}

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  body{
    padding-top:250px;
  }

  .sticky-div{
    opacity: 0.7;
  }

  .projects-title{
    font-size: 30px;
  }
}
