.actual-project-wrapper{
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.project-wrapper-left-side{
  height: 100%;
  width: 40%;
}

.ecommerce-image{
  background-image: url('/img/ecommerce.png');
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-git-hub-link{

}
.project-link{

}
