.menu-wrapper{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu-container{
  margin-top: 20px;
  margin-right: 20px;
  height: 500px;
  width:280px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

  .icon{
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/img/menu2.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    &:hover{
      transition: transform 1s;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }

  .icon-clicked{
    position: fixed;
    opacity: 0.5;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/img/menu2.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    &:hover{
      transition: transform 1s;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
    }
  }

  .menu-box-hidden{
    height:5px;
    width:5px;
    font-size: 1px;
    transition: width 2s ease, height 2s ease;
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
  }

  .menu-box{
    height: 400px;
    width:280px;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    div{
      height: 400px;
      width:280px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  .menu-about-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: #ffff99;
    }
  }

  .menu-projects-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: #ffff99;
    }
  }

  .menu-contact-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: #ffff99;
    }
  }
