.menu-wrapper{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu-container{
  margin-top: 20px;
  margin-right: 20px;
  height: 500px;
  width:280px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.menu-box-hidden{
  height:5px;
  width:5px;
  background-color: black;
  opacity: 0.6;
  transition: width 2s ease, height 2s ease;
}

.menu-box{
  height: 400px;
  width:280px;
  background-color: black;
  opacity: 0.6;
  transition: width 4s ease, height 4s ease;
}

  .icon{
    position: absolute;
    right:-10px;
    top:-10px;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/img/menu2.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
