@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.contact-foreground{
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: transparent;
}

// ************** Mid Container ****************

.middle-contacts-container{
  height: 45vh;
  width: 100vw;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    margin-top: -10vh;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    color: black;
  }
}

// ************* Bottom Contacts Container **************

.bottom-contacts-conatiner{
  height: 45vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.colored-background-left{
  z-index: -1;
  height: 45vh;
  width: 0vw;
  position: absolute;
}

.colored-background-right{
  right: 0;
  z-index: -1;
  height: 45vh;
  width: 0vw;
  position: absolute;
}

.twitter-container{
  height: 100%;
  width: 33.33%;
  border-right: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div{
      background-image: url('/img/twitterblue.png');
      height: 30px;
      width: 40px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.linkedin-container{
  height: 100%;
  width: 33.33%;
  border-right: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div{
      background-image: url('/img/linkedinblue.png');
      height: 30px;
      width: 40px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.email-container{
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    div{
      background-image: url('/img/yahoopurple.png');
      height: 60px;
      width: 90px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

// ************* Bottom Contacts Container on Change **************

.colored-background-left-change{
  z-index: -1;
  height: 45vh;
  width: 50vw;
  position: absolute;
  background: linear-gradient(90deg, #3232ff, #ccccff 50%);
  transition: 2s width ease;
}

.colored-background-right-change{
  right: 0;
  z-index: -1;
  height: 45vh;
  width: 50vw;
  position: absolute;
  background: linear-gradient(90deg, #ccccff  50%, #3232ff);
  transition: 2s width ease;
}


@media only screen and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {


  .twitter-container{
    div{
      font-size: 18px;
      div{
        height: 30px;
        width: 40px;
      }
    }
  }

  .linkedin-container{
    div{
      font-size: 18px;
      div{
        background-image: url('/img/linkedinblue.png');
        height: 30px;
        width: 40px;
      }
    }
  }

  .email-container{
    div{
      font-size: 18px;
      div{
        background-image: url('/img/yahoopurple.png');
        height: 50px;
        width: 80px;
      }
    }
  }

}

@media only screen and (max-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {

  .middle-contacts-container{
    div{
      font-size: 18px;
    }
  }

  .twitter-container{
    div{
      font-size: 15px;
      div{
        height: 20px;
        width: 30px;
      }
    }
  }

  .linkedin-container{
    div{
      font-size: 15px;
      div{
        background-image: url('/img/linkedinblue.png');
        height: 20px;
        width: 30px;
      }
    }
  }

  .email-container{
    div{
      font-size: 15px;
      div{
        background-image: url('/img/yahoopurple.png');
        height: 40px;
        width: 70px;
      }
    }
  }

}

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

  .middle-contacts-container{
    div{
      font-size: 18px;
    }
  }

  .twitter-container{
    div{
      font-size: 13px;
      div{
        height: 20px;
        width: 30px;
      }
    }
  }

  .linkedin-container{
    div{
      font-size: 13px;
      div{
        background-image: url('/img/linkedinblue.png');
        height: 20px;
        width: 30px;
      }
    }
  }

  .email-container{
    div{
      font-size: 13px;
      div{
        background-image: url('/img/yahoopurple.png');
        height: 40px;
        width: 70px;
      }
    }
  }

}
