@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.about-header-wrapper-hidden{
  height: .5px;
  width: .5px;
  background-color: black;
  opacity: 0;
}

.about-header-wrapper{
  height: 10vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  transition: height ease 3s;
  display: flex;
  flex-direction: row;
  position: fixed;
  span{
    height: 100%;
    width:33.33%;
    h1{
      color: #fff;
      font-size: 30px;
      font-family: 'PT Mono', monospace;
    }
  }
}

.header-mid-block{
  display: flex;
  justify-content: center;
  align-items: center;
}


// ************* Right Section **************
.header-right-block{
  height: 100%;
  display: flex;
  flex-direction: column;
}

// *************** Button Area ***************
.right-upper-box{
  position: relative;
  align-items: center;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

.about-menu-header-button{
  cursor: pointer;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all ease 1s;
  span{
    width: 100%;
    p{
      border: 2px solid grey;
    }
  }
  &:hover{
    margin-top: 20px;
    height: 40px;
    width: 40px;
    transition: all ease 1s;
  }
}

// *************** Link Section ************

.route-away-hidden{
  height: 1px;
  width: 1px;
  opacity: 0;
}

.route-away{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-around;
  transition: all ease 2s;
}

.from-about-to-home-link{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'PT Mono', monospace;
  &:hover{
    color: #ffff99;
  }
}

.from-about-to-projects-link{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'PT Mono', monospace;
  &:hover{
    color: #ffff99;
  }
}

.from-about-to-contact-link{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'PT Mono', monospace;
  &:hover{
    color: #ffff99;
  }
}
