.about-background{
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/tranquil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.about-upper{
  height: 25vh;
  width: 100vw;
}

.about-lower{
  height: 75vh;
  width:100vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-upper{
    height: 15vh;
    width: 100vw;
  }

  .about-lower{
    height: 85vh;
    width:100vw;
    display: flex;
    justify-content: center;
  }
}
